<!-- Category Start-->
<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item" data-interval="3000">
        <img src="assets/img/cover-fb.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active" data-interval="3000">
        <img src="assets/img/banner1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="3000">
        <img src="assets/img/BANNER-Chinh-website-1-scaled.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Category End-->
  
  <!-- Call to Action Start -->
  <div class="call-to-action">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h1>Gọi cho chúng tôi nếu có thắc mắc.</h1>
        </div>
        <div class="col-md-6">
          <a href="tel:039941909">+8439-949-1909</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Call to Action End -->
  
  <!-- Featured Product Start -->
  <div class="featured-product product">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2>Sản phẩm <b>mới</b></h2>
          <br>
          <owl-carousel-o [options]="customOptions">
           
                <ng-template carouselSlide *ngFor="let item of listNewProduct">
                    <div class="col-md-11">
                      <div class="product-item">
                          <div class="product-title">
                              <a href="#">{{item.productname}}</a>
                              <div class="ratting">
                                  <i class="fa fa-star" *ngFor="let i of returnArray(avgStart(0,item.id))"></i>
                                 
                              </div>
                          </div>
                          <div class="product-image">
                              <a href="product-detail.html">
                                  <img src="{{item.img}}" alt="Product Image">
                              </a>
                              <div class="product-action">
                                <a (click)="add(item.id)"><i class="fa fa-cart-plus" ></i></a>
                                  <a href="#"><i class="fa fa-heart"></i></a>
                                  <a routerLink="/productdetail/{{item.id}}"><i class="fa fa-search"></i></a>
                              </div>
                          </div>
                          <div class="product-price">
                              <h3><span></span>{{item.pricesale|currency:'VND'}}</h3>
                              <a class="btn" routerLink="/checkout" routerLinkActive="active" (click)="buynow(item.id)" *ngIf="user!=null"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                              <a class="btn"  (click)="alert('Vui lòng đăng nhập và thử lại','info')" *ngIf="user==null"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                          </div>
                      </div>
                  </div>
                  </ng-template>  
          </owl-carousel-o>
        </div>
      </div>
   </div>
  </div>
  <div class="featured-product product">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2>Sản phẩm <b>bán chạy</b></h2>
          <br>
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let sale of listSaleProduct">
              <div class="col-md-11">
                <div class="product-item">
                    <div class="product-title">
                        <a href="#">{{sale.productname}}</a>
                        <div class="ratting">
                            <i class="fa fa-star" *ngFor="let i of returnArray(avgStart(0,sale.id))"></i>
                        </div>
                    </div>
                    <div class="product-image">
                        <a href="product-detail.html">
                            <img src="{{sale.img}}" alt="Product Image">
                        </a>
                        <div class="product-action">
                            <a (click)="add(sale.id)"><i class="fa fa-cart-plus" ></i></a>
                            <a href="#"><i class="fa fa-heart"></i></a>
                            <a routerLink="/productdetail/{{sale.id}}"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="product-price">
                        <h3><span></span>{{sale.pricesale|currency:'VND'}}</h3>
                        <a class="btn" routerLink="/checkout" routerLinkActive="active" (click)="buynow(sale.id)" *ngIf="user!=null"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                              <a class="btn"  (click)="alert('Vui lòng đăng nhập và thử lại','info')" *ngIf="user==null"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                    </div>
                </div>
            </div>
            </ng-template>  
          </owl-carousel-o>
        </div>
      </div>
   </div>
  </div>
  <!-- Featured Product End -->
  
  
  