<!-- Top bar Start -->
<div class="top-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <i class="fa fa-envelope"></i>
          support@email.com
        </div>
        <div class="col-sm-6">
          <i class="fas fa-phone-alt"></i>
          +012-345-6789
        </div>
      </div>
    </div>
  </div>
  <!-- Top bar End -->
  <!-- Nav Bar Start -->
  <div class="nav">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a href="#" class="navbar-brand">MENU</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav mr-auto">
            <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Trang chủ</a>
            <a routerLink="/products" class="nav-item nav-link" routerLinkActive="active">Sản phẩm</a>
            <a routerLink="/admin" class="nav-item nav-link" routerLinkActive="active">Liên hệ</a>
            <a routerLink="/special" class="nav-item nav-link" routerLinkActive="active">Thiết kế riêng</a>
          </div>
          <div class="navbar-nav ml-auto">
            <div class="nav-item dropdown"*ngIf="user" >
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" *ngIf="user!=null"> Xin chào{{' ' + user.fullname}} </a>
              <div class="dropdown-menu">
                <a routerLink="/my-account/{{name()}}" class="dropdown-item" routerLinkActive="active">Tài khoản của tôi</a>
                <a class="dropdown-item" (click)="logout()">Đăng xuất</a>
              </div>
            </div>
            <div class="nav-item" *ngIf="!user">
              <a routerLink="/login" class="nav-link" routerLinkActive="active">Đăng nhập</a>
            </div>
            <div class="nav-item "*ngIf="!user" >
              <a routerLink="/register" class="nav-link" routerLinkActive="active">Đăng ký</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!-- Nav Bar End -->
  
  <!-- Bottom Bar Start -->
  <div class="bottom-bar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-3">
          <div class="logo">
            <a href="index.html">
              <img src="./assets/img/logo.png" alt="Logo">
            </a>
          </div>
        </div>
        <div class="col-md-6">
         <!-- <div class="search">
           <input type="text" [(ngModel)]="searchkey" placeholder="Search" id="search" [autocomplete]="false">
           <button (click)="setSearchKey()"><i class="fa fa-search"></i></button>
         </div> -->
        </div>
        <div class="col-md-3">
          <div class="user">
            <a routerLink="/cart" class="btn cart" routerLinkActive="active" >
              <i class="fa fa-shopping-cart"></i>
              <span>({{cartLenht}})</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bottom Bar End -->
  