        <!-- Product List Start -->
        <div class="product-view">
            <div class="container-fluid">
                <div class="row">
                    <!-- Side Bar Start -->
                    <div class="col-lg-4 sidebar">
                        <div class="sidebar-widget category">
                            <h2 class="title">Danh mục</h2>
                            <nav class="navbar bg-light">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" id="cate1"  (click)="product = fillCategory(' ',listProduct)" ><i class="fas fa-angle-double-right"></i>Tất cả</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="cate2" (click)="product = fillCategory('1/2',listProduct)" ><i class="fas fa-angle-double-right"></i>Nón 1/2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="cate3" (click)="product = fillCategory('3/4',listProduct)" ><i class="fas fa-angle-double-right"></i>Nón 3/4</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="cate4" (click)="product = fillCategory('FullFace',listProduct)" ><i class="fas fa-angle-double-right"></i>Nón Fullface</a>
                                    </li>
                                </ul>
                            </nav>
                            <br>
                            <h2 class="title">Sắp xếp</h2>
                            <nav class="navbar bg-light">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" (click)="sortKey= 'T'"><i class="fas fa-sort-numeric-up-alt"></i>Giá tăng dần</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link"  (click)="sortKey= 'G'"><i class="fas fa-sort-numeric-down-alt"></i>Giá giảm dần</a>
                                    </li>
                                </ul>
                            </nav>
                            <br>
                            <h2 class="title">Lọc theo khoảng giá</h2>
                           
                                <div class="col-md-12" style="padding: 0;">
                                    <div class="product-price-range">
                                      <div class="dropdown">
                                        <div class="dropdown-toggle" data-toggle="dropdown">Lọc theo khoản giá: {{titlePrice}} </div>
                                        <div class="dropdown-menu dropdown-menu-left">
                                          <a class="dropdown-item" (click)="fillPrice = 0;titlePrice = 'Tất cả'">Tất cả</a>
                                          <a class="dropdown-item" (click)="fillPrice = 1;titlePrice = 'Nhỏ hơn 500.000₫'">Nhỏ hơn 500.000₫</a>
                                          <a class="dropdown-item" (click)="fillPrice = 2;titlePrice = 'Từ 500.000₫ - 1000.000₫'">Từ 500.000₫ - 1.0000.000₫</a>
                                          <a class="dropdown-item" (click)="fillPrice = 3;titlePrice = 'Trên 1.000.000₫'">Trên 1.000.000₫</a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            
                        </div>
                        
                    </div>
                    <!-- Side Bar End -->                                        

                    <div class="col-lg-8" >
                            <div class="product-view-top">
                              <div class="row">
                                <div class="col-md-12">
                                    <h3>Tìm kiếm sản phẩm</h3>
                                  <div class="product-search">
                                    <input type="text" [(ngModel)]="searchkey" placeholder="Nhập tên sản phẩm muốn tìm">
                                  </div>
                                </div>
                              </div>
                            </div>
                        <div *ngIf="product.length==0" style="background-color: white;min-height: 965px;">
                            <h3 style="text-align: center;padding-top: 30%;">
                                Không có sản phẩm nào.
                            </h3>
                        </div>
                        <div class="row">
                            <div class="col-md-4"*ngFor="let item of product|search:searchkey |price:fillPrice|category:sortKey | paginate:{itemsPerPage:6,currentPage:page,totalItems:totalLength}">
                                <div class="product-item" >
                                    <div class="product-title">
                                        <a routerLink="/productdetail/{{item.id}}">{{item.productname}}</a>
                                        <div class="ratting" style="margin: 0">
                                            <i class="fas fa-star" *ngFor="let i of returnArray(avgStart(0,item.id))" > </i>
                                          </div>
                                    </div>
                                    <div class="product-image">
                                        <a href="product-detail.html">
                                            <img src={{item.img}} alt="Product Image">
                                        </a>
                                        <div class="product-action">
                                            <a (click)="add(item.id)"><i class="fa fa-cart-plus" ></i></a>
                                            <a><i class="fa fa-heart"></i></a>
                                            <a routerLink="/productdetail/{{item.id}}"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3>{{item.pricesale|currency:'VND'}}<span></span></h3>
                                        <a class="btn" routerLink="/checkout" routerLinkActive="active" (click)="buynow(item.id)" *ngIf="user!=null"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                                        <a class="btn"  (click)="alert('Vui lòng đăng nhập và thử lại','info')" *ngIf="user==null"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        <!-- Pagination Start -->
                        <div class="col-md-12" *ngIf="product.length!=0">
                            <pagination-controls (pageChange)="page = $event" class="my-pagination"></pagination-controls>
                        </div>
                        <!-- Pagination Start -->
                    </div>           
                    

                </div>
            </div>
        </div>
        <!-- Product List End -->  