

<!--back to top-->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- Footer Start -->
<div class="footer" style="background-color: #000000;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-widget">
          <img src="assets/img/logo-2.png" alt="Logo" style="margin-top: 35px;width: 270px;height: 90px;">
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
<!--        <div class="footer-widget">-->
<!--          <h2 style="color: #00AEC9;">Company Info</h2>-->
<!--          <ul>-->
<!--            <li><a href="#" style="color: white;">About Us</a></li>-->
<!--            <li><a href="#" style="color: white;">Privacy Policy</a></li>-->
<!--            <li><a href="#" style="color: white;">Terms & Condition</a></li>-->
<!--          </ul>-->
<!--        </div>-->
      </div>

      <div class="col-lg-3 col-md-6">
<!--        <div class="footer-widget">-->
<!--          <h2 style="color: #00AEC9;">Purchase Info</h2>-->
<!--          <ul>-->
<!--            <li><a href="#" style="color: white;">Pyament Policy</a></li>-->
<!--            <li><a href="#" style="color: white;">Shipping Policy</a></li>-->
<!--            <li><a href="#" style="color: white;">Return Policy</a></li>-->
<!--          </ul>-->
<!--        </div>-->
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-widget">
          <h2 style="color: #00AEC9;">Liên hệ chúng tôi</h2>
          <div class="contact-info" style="color: white;">
            <p><i class="fa fa-map-marker" style="color: white;"></i>123 E Store, Los Angeles, USA</p>
            <p><i class="fa fa-envelope" style="color: white;"></i>email@example.com</p>
            <p><i class="fa fa-phone" style="color: white;"></i>+123-456-7890</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<!-- Footer End -->
