<div class="cart-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div class="cart-page-inner"style="min-height: 284px;" >
          <div class="table-responsive">
            <div class="center" *ngIf="cartItems.length == 0" style="text-align: center;">
              <br>
              <br>
              <h4>Không có gì trong giỏ hàng</h4>
              <h6>Tìm kiếm và thêm sản phân ngay bây giờ</h6>
              <a routerLink="/products" routerLinkActive="active">
                <button class="btn btn-primary">Shop Now</button>
              </a>
            </div>
            <div class="center" *ngIf="cartItems.length != 0 && cartItems.length>4" style="overflow: scroll ;height: 500px">
              <h4>Sản phẩm</h4>
              <table class="table table-bordered"  >
                <thead class="thead-dark">
                <tr>
                  <th>Chọn sản phẩm</th>
                  <th>Sản phẩm</th>
                  <th>Đơn giá</th>
                  <th>Số lượng</th>
                  <th>Thành tiền</th>
                  <th>Xóa</th>
                </tr>
                </thead>
                <tbody class="align-middle" *ngFor="let item of cartItems" >
                <tr >
                  <td><input type="checkbox"  class="check"  (change)="addSp($event,item.key)"  >
                  </td>
                  <td>
                    <div class="img">
                      <img alt="Image" src="{{item.product.img}}">
                      <p>{{ item.product.productname}}</p>
                    </div>
                  </td>
                  <td>{{item.product.price|currency:'VND'}}</td>
                  <td>
                    <div class="qty">
                      <button class="btn-minus" (click)="clickMinus(item.product.id)"><i class="fas fa-minus"></i></button>
                      <input type="text" value="{{item.qty}}">
                      <button class="btn-plus" (click)="clickPluss(item.product.id)"><i class="fas fa-plus"></i></button>
                    </div>
                  </td>
                  <td>{{item.product.price * (item.qty) |currency:'VND'}} </td>
                  <td>
                    <button (click)="deleteCartItem(item.product.id)"><i class="fas fa-trash"></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="center" *ngIf="cartItems.length != 0 && cartItems.length<=4">
              <h4>Sản phẩm</h4>
              <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                  <th>Chọn sản phẩm</th>
                  <th>Sản phẩm</th>
                  <th>Đơn giá</th>
                  <th>Số lượng</th>
                  <th>Thành tiền</th>
                  <th>Xóa</th>
                </tr>
                </thead>
                <tbody class="align-middle" *ngFor="let item of cartItems">
                <tr>
                  <td><input type="checkbox"  class="check"  (change)="addSp($event,item.key)"  >
                  </td>
                  <td>
                    <div class="img">
                      <img alt="Image" src="{{item.product.img}}">
                      <p>{{ item.product.productname}}</p>
                    </div>
                  </td>
                  <td>{{item.product.price|currency:'VND'}}</td>
                  <td>
                    <div class="qty">
                      <button class="btn-minus" (click)="clickMinus(item.product.id)"><i class="fas fa-minus"></i></button>
                      <input type="text" value="{{item.qty}}">
                      <button class="btn-plus" (click)="clickPluss(item.product.id)"><i class="fas fa-plus"></i></button>
                    </div>
                  </td>
                  <td>{{item.product.price * (item.qty) |currency:'VND'}} </td>
                  <td>
                    <button (click)="deleteCartItem(item.product.id)"><i class="fas fa-trash"></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cart-page-inner">
          <div class="row">
            <div class="col-md-12">
              <div class="cart-summary">
                <div class="cart-content">
                  <h1>Giá trị giỏ hàng</h1>
                  <p>Tổng<span>{{getPrice()|currency:'VND'}}</span></p>
                  <p>Phí vận chuyển<span>{{shipCost()|currency:'VND'}}</span></p>
                  <h2>Tổng tiền<span>{{getPrice() + shipCost()|currency:'VND'}}</span></h2>
                </div>
                <div class="cart-btn">
                  <!-- <button type="button" style="width: 100%;" *ngIf="this.array.length==0" >Thanh toán</button> -->
                  <button type="button" style="width: 100%;" routerLink="/checkout" (click)="checkOut()" *ngIf="this.array.length!=0" >
                    Thanh toán
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="margin-bottom: 30px;">
    <div class="row">
      <div class="col-md-12">
        <h2>Sản phẩm <b>gợi ý</b></h2>
        <br>
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide  *ngFor="let item of listSuggetedProduct" >
            <div class="col-md-11">
              <div class="product-item">
                  <div class="product-title">
                      <a href="#">{{item.productname}}</a>
                      <div class="ratting">
                        <i class="fa fa-star" *ngFor="let i of returnArray(avgStart(0,item.id))"></i>
                      </div>
                  </div>
                  <div class="product-image">
                      <a href="product-detail.html">
                          <img src="{{item.img}}" alt="Product Image">
                      </a>
                      <div class="product-action">
                        <a (click)="add(item.id)"><i class="fa fa-cart-plus" ></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                        <a routerLink="/productdetail/{{item.id}}"><i class="fa fa-search"></i></a>
                      </div>
                  </div>
                  <div class="product-price">
                      <h3><span></span>{{item.pricesale|currency:'VND'}}</h3>
                      <a class="btn" routerLink="/checkout" routerLinkActive="active" (click)="buynow(item.id)" *ngIf="user!=null"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                      <a class="btn"  (click)="alert('Vui lòng đăng nhập và thử lại','info')" *ngIf="user==null"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                  </div>
              </div>
          </div>
          </ng-template>  
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>








<!-- Cart End -->

