body {
    background: #f3f6ff;
  }
  
  
  /**********************************/
  /********* Breadcrumb CSS *********/
  /**********************************/
  .breadcrumb-wrap {
    position: relative;
    width: 100%;
  }
  
  .breadcrumb-wrap .breadcrumb {
    margin: 0;
    background: transparent;
    padding-top: 30px;
  }
  
  .breadcrumb-wrap .container-fluid {
    margin-left: 60px;
    margin-right: 60px;
  }
  
  
  /**********************************/
  /******* Product Detail CSS *******/
  /**********************************/
  .product-detail {
    position: relative;
    width: 100%;
    padding: 30px 60px;
  }
  

  .product-detail .product-detail-top,
  .product-detail .product-detail-bottom {
    margin-bottom: 30px;
  }
  
  .product-detail .product-detail-top {
    padding: 0;
    background: #ffffff;
  }
  
  .product-detail .product-slider-single img {
    width: 100%;
  }
  
  .product-detail .product-slider-single-nav {
    margin: 15px 30px 30px 30px;
    border: 3px double #00AEC9;
  }
  
  .product-detail .product-slider-single-nav .slider-nav-img {
    border-right: 1px solid #00AEC9;
    overflow: hidden;
  }
  
  .product-detail .product-slider-single-nav img {
    width: 100%;
    transition: all .3s;
  }
  
  .product-detail .product-slider-single-nav img:hover {
    transform: scale(1.2);
  }
  
  .product-detail .product-content,
  .product-detail .product-content .title,
  .product-detail .product-content .ratting,
  .product-detail .product-content .price,
  .product-detail .product-content .details,
  .product-detail .product-content .quantity,
  .product-detail .product-content .action {
    position: relative;
    width: 100%;
  }
  
  .product-detail .product-content {
    padding: 30px;
  }
  
  @media (min-width: 768px) {
    .product-detail .product-content {
      padding-left: 0;
    }
  }
  
  .product-detail .product-content .title h2 {
    font-size: 25px;
    margin-bottom: 5px;
  }
  
  .product-detail .product-content .ratting {
    margin-bottom: 10px;
  }
  
  .product-detail .product-content .ratting i {
    color: #ffdd1e;
    font-size: 16px;
  }
  
  .product-detail .product-content .price,
  .product-detail .product-content .quantity,
  .product-detail .product-content .p-size,
  .product-detail .product-content .p-color {
    margin-bottom: 15px;
  }
  
  .product-detail .product-content .price h4,
  .product-detail .product-content .quantity h4,
  .product-detail .product-content .p-size h4,
  .product-detail .product-content .p-color h4 {
    display: inline-block;
    width: 120px;
    font-size: 18px;
    font-weight: 700;
    margin-right: 5px;
  }
  
  .product-detail .product-content .price p {
    display: inline-block;
    color: #00AEC9;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
  }
  
  .product-detail .product-content .price span {
    color: #999999;
    text-decoration: line-through;
    margin-left: 12px;
  }
  
  .product-detail .product-content .quantity .qty {
    display: inline-block;
    font-size: 0;
  }
  
  .product-detail .product-content .quantity button {
    width: 30px;
    height: 30px;
    padding: 2px 0;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    background: #00AEC9;
    border: none;
  }
  
  .product-detail .product-content .quantity button.btn-minus {
    border-radius: 4px 0 0 4px;
  }
  
  .product-detail .product-content .quantity button.btn-plus {
    border-radius: 0 4px 4px 0;
  }
  
  .product-detail .product-content .quantity input {
    width: 40px;
    height: 30px;
    color: #000000;
    font-size: 16px;
    text-align: center;
    background: #e9e9e9;
    border: none;
  }
  
  .product-detail .product-content .action a:first-child {
    margin-right: 11px;
  }
  
  .product-detail .product-content .action a i {
    margin-right: 5px;
  }
  
  .product-detail .nav.nav-pills .nav-link {
    color: #ffffff;
    background: #222930;
    border-radius: 0;
    transition: all .3s;
  }
  
  .product-detail .nav.nav-pills .nav-link:hover,
  .product-detail .nav.nav-pills .nav-link.active {
    color: #fffdfd;
    background: #00AEC9;
  }
  
  .product-detail .tab-content {
    background: #ffffff;
    padding: 25px 15px 15px 15px;
  }
  
  .product-detail .tab-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .product-detail .tab-content ul li {
    margin-bottom: 10px;
  }
  
  .product-detail .tab-content ul li::before {
    content: '\f061';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-right: 5px;
  }
  
  .product-detail .tab-content .reviews-submitted {
    position: relative;
    margin-bottom: 45px;
  }
  
  .product-detail .tab-content .reviewer {
    color: #00AEC9;
    font-size: 18px;
    font-weight: 600;
  }
  
  .product-detail .tab-content .reviewer span {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
  }
  
  .product-detail .tab-content .ratting {
    color: #ffdd1e;
    margin-bottom: 15px;
  }
  
  .product-detail .tab-content .reviews-submit .ratting {
    font-size: 24px;
  }
  
  .product-detail .tab-content .form input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  .product-detail .tab-content .form textarea {
    width: 100%;
    height: 80px;
    padding: 6px 15px;
    color: #666666;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  .product-detail .tab-content .form button {
    display: inline-block;
    height: 35px;
    padding: 0 15px;
    color: #00AEC9;
    background: #ffffff;
    border: 1px solid #00AEC9;
    border-radius: 4px;
    margin-bottom: 15px;
    transition: all .3s;
  }
  
  .product-detail .tab-content .form button:hover {
    color: #ffffff;
    background: #00AEC9;
  }
  
  
  /**********************************/
  /********** Sidebar CSS ***********/
  /**********************************/
  .sidebar-widget {
    padding: 30px;
    background: #ffffff;
  }
  
  .sidebar-widget:not(:first-child) {
    padding-top: 0;
  }
  
  .sidebar-widget .title {
    position: relative;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  
  .sidebar-widget.category {
    margin: 0;
    height: 93%;
  }
  
  .sidebar-widget.category .navbar {
    padding: 0;
    overflow: hidden;
    background: #ffffff !important;
  }
  
  .sidebar-widget.category .navbar-nav {
    width: 100%;
  }
  
  .sidebar-widget.category .navbar li {
    border-bottom: 1px solid #f3f6ff;
  }
  
  .sidebar-widget.category .navbar li:last-child {
    border-bottom: none;
  }
  
  .sidebar-widget.category .navbar a {
    color: #353535;
  }
  
  .sidebar-widget.category .navbar a:hover {
    color: #00AEC9;
  }
  
  .sidebar-widget.category .navbar i {
    color: #00AEC9;
    width: 20px;
    text-align: center;
    margin-right: 8px;
  }
  
  .sidebar-widget.category .navbar a:hover i {
    color: #353535;
  }
  
  .sidebar-widget.brands ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-widget.brands ul li {
    margin-bottom: 12px;
  }
  
  .sidebar-widget.brands ul li:last-child {
    margin-bottom: 0;
  }
  
  .sidebar-widget.brands ul li a {
    color: #353535;
    white-space: nowrap;
    display: inline-block;
    line-height: 23px;
    transition: all .3s;
  }
  
  .sidebar-widget.brands ul li a::before {
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-right: 5px;
  }
  
  .sidebar-widget.brands ul li a:hover {
    color: #00AEC9;
  }
  
  .sidebar-widget.brands ul li a:hover::before {
    content: '\f101';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }
  
  .sidebar-widget.brands ul li a:hover {
    padding-left: 10px;
  }
  
  .sidebar-widget.brands ul li span {
    display: inline-block;
    color: #666666;
    font-size: 14px;
    font-weight: 400;
  }
  
  .sidebar-widget.widget-slider {
    position: relative;
  }
  
  .sidebar-widget.image a {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  
  .sidebar-widget.image img {
    max-width: 100%;
    transition: .3s;
  }
  
  .sidebar-widget.image img:hover {
    transform: scale(1.1);
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }
  
  .sidebar-widget.tag a {
    display: inline-block;
    margin: 0 0 4px 0;
    padding: 3px 8px;
    font-size: 14px;
    color: #353535;
    background: #ffffff;
    border: 1px solid #353535;
    border-radius: 4px;
    transition: .3s;
  }
  
  .sidebar-widget.tag a:hover {
    color: #ffffff;
    background: #00AEC9;
    border-color: #00AEC9;
  }
  
  
  /**********************************/
  /********* Form Input CSS *********/
  /**********************************/
  .form-control,
  .custom-select {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    color: #999999;
    border: 1px solid #dddddd;
    margin-bottom: 15px
  }
  
  .form-control:focus,
  .custom-select:focus {
    box-shadow: none;
    border-color: #00AEC9;
  }
  
  .custom-radio,
  .custom-checkbox {
    margin-bottom: 15px;
  }
  
  .custom-radio .custom-control-label::before,
  .custom-checkbox .custom-control-label::before {
    background: #dddddd;
    border-color: #dddddd;
  }
  
  .custom-radio .custom-control-input:checked ~ .custom-control-label::before,
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    color: #ffffff;
    background: #00AEC9;
    border-color: #00AEC9;
    box-shadow: none;
  }
  
  .btn {
    color: #00AEC9;
    background: #ffffff;
    border: 1px solid #00AEC9;
  }
  
  .btn:hover,
  .btn:active,
  .btn:focus {
    color: #ffffff;
    background: #00AEC9;
    box-shadow: none;
  }
  
  
  .index {
    font-size: 14px;
    margin-top: 4px
  }
  
  .index > p {
    margin-bottom: 12px
  }
  
  .rst {
    font-weight: 900;
    margin-top: 1px
  }
  
  .rst > div {
    margin-bottom: 9px;
    font-size: 16px
  }
  
  .count {
    font-size: 14px;
    margin-left: 27px;
    margin-top: 2px
  }
  
  .count > p {
    margin-bottom: 12px
  }
  
  .big {
    font-size: 60px;
    font-weight: 900
  }
  
  button.focus,
  button:focus {
    outline: 0;
    box-shadow: none !important
  }
  
  .progress {
    height: 25px
  }
  .rating {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
    height: 150px;
    position: relative;
  }
  
  .rating-0 {
    filter: grayscale(100%);
  }
  
  .rating > input {
    display: none;
  }
  
  .rating > label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: .3s;
  }
  
  .rating > input:checked ~ label,
  .rating > input:checked ~ label ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  }
  
  
  .rating > input:not(:checked) ~ label:hover,
  .rating > input:not(:checked) ~ label:hover ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  }
  
  .emoji-wrapper {
    width: 100%;
    text-align: center;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .emoji-wrapper:before,
  .emoji-wrapper:after{
    content: "";
    height: 15px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
  }
  
  .emoji-wrapper:before {
    top: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
  }
  
  .emoji-wrapper:after{
    bottom: 0;
    background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
  }
  
  .emoji {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;
  }
  
  .emoji > svg {
    margin: 15px 0;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
  }
  
  #rating-1:checked ~ .emoji-wrapper > .emoji { transform: translateY(-100px); }
  #rating-2:checked ~ .emoji-wrapper > .emoji { transform: translateY(-200px); }
  #rating-3:checked ~ .emoji-wrapper > .emoji { transform: translateY(-300px); }
  #rating-4:checked ~ .emoji-wrapper > .emoji { transform: translateY(-400px); }
  #rating-5:checked ~ .emoji-wrapper > .emoji { transform: translateY(-500px); }
  #rating-11:checked ~ .emoji-wrapper > .emoji { transform: translateY(-100px); }
  #rating-22:checked ~ .emoji-wrapper > .emoji { transform: translateY(-200px); }
  #rating-33:checked ~ .emoji-wrapper > .emoji { transform: translateY(-300px); }
  #rating-44:checked ~ .emoji-wrapper > .emoji { transform: translateY(-400px); }
  #rating-55:checked ~ .emoji-wrapper > .emoji { transform: translateY(-500px); }
  
  .feedback {
    max-width: 360px;
    background-color: #fff;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 4px 30px rgba(0,0,0,.05);
  }
  
  
  /**********************************/
  /******** Pagination CSS ********/
  /**********************************/
  .my-pagination{
    display: flex;
    justify-content: center;
    margin-top: 1.0246rem;
  }
  
  .my-pagination /deep/ .ngx-pagination {
    margin-left: 0;
    padding: 0;
    margin-bottom: 1rem;
    border: 1px solid #353535;
    border-radius: 0.25rem;
  
  }
  .my-pagination /deep/ .ngx-pagination::before,
  
  .my-pagination /deep/ .ngx-pagination::after {
    content: ' ';
    display: table;
  }
  
  .my-pagination /deep/ .ngx-pagination::after {
    clear: both;
  }
  
  .my-pagination /deep/ .ngx-pagination li {
    margin-right: 0.0625rem;
    border-radius: 0;
  }
  .my-pagination /deep/ .ngx-pagination li {
    display: inline-block;
    margin: 0;
  
  
  }
  
  .my-pagination /deep/ .ngx-pagination a,  .ngx-pagination button {
    color: #0a0a0a;
    display: block;
    padding: .5rem .75rem;
  }
  .my-pagination /deep/ .ngx-pagination a:hover,
  .my-pagination /deep/ .ngx-pagination button:hover {
    background: #00AEC9;
    color: white;
  }
  .my-pagination /deep/ .ngx-pagination .current {
    padding: .5rem .75rem;
    background: #00AEC9;
    color: white;
    cursor: default;
    margin: 0;
  }
  .my-pagination /deep/ .ngx-pagination .disabled {
    padding: .5rem .75rem;
    color: #cacaca;
    cursor: default;
  
  }
  .my-pagination /deep/ .ngx-pagination .disabled:hover {
    background: transparent;
  }
  .my-pagination /deep/ .ngx-pagination a, .ngx-pagination button {
    cursor: pointer;
  }
  
  .my-pagination /deep/ .ngx-pagination .pagination-previous a::before,
  .my-pagination /deep/ .ngx-pagination .pagination-previous.disabled::before {
    display: inline-block;
  }
  
  .my-pagination /deep/ .ngx-pagination .pagination-next a::after,
  .my-pagination /deep/ .ngx-pagination .pagination-next.disabled::after {
    display: inline-block;
    margin-left: 0.5rem;
    border: 0;
  }
  
  .my-pagination /deep/ .ngx-pagination .show-for-sr {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }
  
  .my-pagination /deep/ .ngx-pagination .small-screen {
    display: none; }
  
  @media screen and (max-width: 601px) {
    .my-pagination /deep/ .ngx-pagination.responsive .small-screen {
      display: inline-block;
    }
    .my-pagination /deep/ .ngx-pagination.responsive li:not(.small-screen):not(.pagination-previous):not(.pagination-next) {
      display: none;
    }
  }

  .product-detail  .tab-content /deep/ ul li::before {
    display: none;
}


  
  
  
  