<div *ngIf="this.user!=null">
  <div class="container-fluid" *ngIf="listItem.length != 0" >
  <div class="breadcrumb-wrap">
    <div class="container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/products">Products</a></li>
        <li class="breadcrumb-item active">Checkout</li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumb End -->
  
  <!-- Checkout Start -->
  <div class="checkout">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="checkout-inner">
            <div class="chose-address">
              <div class="title">
                <h4>Địa chỉ nhận hàng</h4>
                <button type="button" data-toggle="modal" data-target="#changaddress">
                  Thay đổi
                </button>
                <!--popup doi dia chi-->
                <div class="modal fade bd-example-modal-lg" id="changaddress" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Chọn địa chỉ nhận hàng</h5>
                        <button type="button" data-dismiss="modal" aria-label="Close"
                                style="width: 30px;height: 30px;text-align: center">X
                        </button>
                      </div>
                      <div class="modal-body" style="height:450px; width: 100%; overflow:scroll;">
                        <div class="new-address">
                          <p>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                             Thêm địa chỉ mới
                            </button>
                          </p>
                          <div class="collapse" id="collapseExample" style="margin-bottom: 25px" >
                            <div class="card card-body">
                              <div class="col">
                                <div class="row">
                                  <div class="col-md-6">
                                    <label>Người nhận*</label>
                                    <input class="form-control" type="tel" placeholder="Người nhận"
                                           [(ngModel)]="model.name">
                                  </div>
                                  <div class="col-md-6">
                                    <label>Số điện thoai*</label>
                                    <input class="form-control" type="tel" placeholder="Số điện thoai"
                                           [(ngModel)]="model.phoneup">
                                  </div>
  
  
                                  <div class="col-md-4">
                                    <label>Tỉnh/Thành phố*</label>
                                    <select class="form-control" [(ngModel)]="model.province"
                                            (change)="loadDistricts(model.province)">
                                      <option *ngFor="let item of province" [value]="item.code">{{item.name}}</option>
                                    </select>
                                  </div>
  
  
                                  <div class="col-md-4">
                                    <label>Quận/Huyện*</label>
                                    <select class="form-control" [(ngModel)]="model.district_code"
                                            (change)="loadWards(model.district_code)">
                                      <option *ngFor="let item of listdistricts" [value]="item.code">{{item.name}}</option>
                                    </select>
                                  </div>
  
                                  <div class="col-md-4">
                                    <label>Xã/Phường</label>
                                    <select class="form-control" [(ngModel)]="model.wards">
                                      <option *ngFor="let item of listWards" [value]="item.code">{{item.name}}</option>
                                    </select>
  
                                  </div>
  
                                  <div class="col-md-12">
                                    <label>Địa chỉ cụ thể*</label>
                                    <input class="form-control" type="text" placeholder="Nhập địa chỉ cụ thể"
                                           [(ngModel)]="address.addressDetails">
                                  </div>
  
  
                                </div>
                                <button class="btn" style="width: 20% ;float: right" (click)="addNewAddress()" aria-expanded="false"  class="btn btn-outline-danger"
                                        data-toggle="collapse" data-target="#collapseExample">Xác nhận</button>
                              </div>
                              </div>
  
                          </div>
  
                          <div style="font-size: 18px;margin-left: 30px;" >
                         <div  *ngFor="let add of shippingAddress">
                          <span (click)="selectAddress(add)"  *ngIf="selectAdress == add" ><input type="radio" checked><strong>{{add.name+" - "+ add.phonenumber+' '}}</strong> {{add.addressDetails+", "+add.wards+', '+add.districts+', '+add.province}}</span>
                          
                          <span (click)="selectAddress(add)" *ngIf="selectAdress != add">
                            <input type="radio"><strong>{{add.name+" - "+ add.phonenumber+' '}}</strong> {{add.addressDetails+", "+add.wards+', '+add.districts+', '+add.province}}</span>
                         </div>
                          </div>
                        </div>
  
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="col-md-3" data-dismiss="modal">Quay lại</button>
                        <button type="button" class="col-md-3" data-dismiss="modal">Hoàn Thành
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p *ngIf="getAddress()==true"><strong>{{selectAdress.name + ' - '+selectAdress.phonenumber+ ' |'}}
              </strong> {{selectAdress.addressDetails+", "+selectAdress.wards+', '+selectAdress.districts+', '+selectAdress.province}}</p>
              <p *ngIf="getAddress()==false"> Bạn chưa có địa chỉ giao hàng</p>
            </div>
  
            <div class="list-pro">
              <h4>Sản phẩm</h4>
  
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead class="thead-dark" *ngIf="listItem.length > 0">
                  <tr>
                    <th>Sản phẩm</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                    <th>Xóa</th>
                  </tr>
                  </thead>
                  <tbody class="align-middle" *ngFor="let item of listItem">
                  <tr>
                    <td>
                      <div class="img">
                        <a><img src="{{item.product.img}}" alt="Image"></a>
                        <p>{{item.product.productname}}</p>
                      </div>
                    </td>
                    <td>{{item.product.pricesale|currency:'VND'}}</td>
                    <td>
                      <div class="qty">
                        <button class="btn-minus" (click)="minusQty(item.product.id)"><i class="fa fa-minus"></i></button>
                        <input type="text" value="{{item.qty}}">
                        <button class="btn-plus" (click)="plussQty(item.product.id)"><i class="fa fa-plus"></i></button>
                      </div>
                    </td>
                    <td>{{item.product.pricesale * item.qty |currency:"VND"}}</td>
                    <td><button (click)="deleteItem(item.product.id)"><i class="fa fa-trash"></i></button></td>
                  </tr>
                </table>
              </div>
            </div>
  
            <div class="voucher">
              <div class="t-voucher">
                <h4>Mã giảm giá</h4>
                <button type="button" data-toggle="modal" data-target="#voucher" class="v-btn">
                  Chọn mã giảm giá
                </button>
                <!--popup doi dia chi-->
                <div class="modal fade" id="voucher" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Chọn mã giảm giá</h5>
                        <button type="button" data-dismiss="modal" aria-label="Close"
                                style="width: 30px;height: 30px;text-align: center">X
                        </button>
                      </div>
                      <div class="modal-body" style="height:450px; width: 100%" >
                        <div style="display: flex;align-items: center" *ngFor="let discount of listDiscount">
                          <input type="radio"  style="margin-right:10px " [value]="discount.codeDiscount" [(ngModel)]="model.discount" >
                          <p style="margin: 0"><strong>Mã: </strong>{{discount.codeDiscount}}<strong style="margin-left: 30px;">Rate :</strong>{{discount.rate}}%</p>
                        </div>
  
  
  
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="col-md-3 btn" data-dismiss="modal">Quay lại</button>
                        <button type="button" class="col-md-3 btn" data-dismiss="modal">Hoàn Thành
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p class="v-discount" *ngIf="listDiscount.length==0"><strong>Bạn đã hết mã giảm giá </strong></p>
              <p class="v-discount" *ngIf="listDiscount.length!=0&&getDiscount(model.discount)!=0"><strong>Code: </strong>#{{getDiscount(model.discount).codeDiscount}}<strong style="margin-left: 30px;">Rate :</strong>{{getDiscount(model.discount).rate}}%</p>
              <p class="v-discount" *ngIf="listDiscount.length!=0&&getDiscount(model.discount)==0"><strong>Hãy chọn mã giảm giá </strong></p>
  
            </div>
  
            <div class="payment-method">
              <div class="p-title">
                <h5>Phương thức thanh toán</h5>
              </div>
              <div class="p-content">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                  <label class="form-check-label" for="flexRadioDefault1">
                    Cod
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                  <label class="form-check-label" for="flexRadioDefault2">
                    Credit cart
                  </label>
                </div>
              </div>
            </div>
            <div class="cart-total">
              <div class="c-content-1">
                <p>Tổng tiền hàng</p>
                <p *ngIf="getDiscount(model.discount)==0">Mã giảm giá:(Không)</p>
                <p *ngIf="getDiscount(model.discount)!=0">Mã giảm giá:({{getDiscount(model.discount).codeDiscount}})</p>
                <p>Phí vận chuyển</p>
                <p>Tổng thanh toán</p>
              </div>
              <div class="c-content-2">
                <p>{{getPrice()|currency:'VND'}}</p>
                <p >{{0-applyVoucher(getDiscount(model.discount).codeDiscount)|currency:'VND'}}</p>
                <p>{{shipCost()|currency:'VND'}}</p>
                <p class="total-price">{{getPrice()+shipCost()-applyVoucher(getDiscount(model.discount).codeDiscount)|currency:'VND'}}</p>
              </div>
            </div>
            <div class="checkout-footer">
              <p>Nhấn đặt hàng đồng nghĩa với việc bạn đồng ý tuân theo điều khoản của chúng tôi.</p>
              <button class="btn-checkout" (click)="confirmAddNewOrder()">Đặt hàng</button>
            </div>
  
          </div>
        </div>
  
      </div>
    </div>
  </div>
  </div>
  <div class="container-fluid" *ngIf="listItem.length == 0" style="text-align: center;height: 300px">
    <div style="margin-top:30px">
  
      <i class="fal fa-shopping-cart" style="color: gray;font-size: 100px;margin-bottom: 20px"></i>
      <p>Vui lòng chọn sản phẩn trong giỏ hàng để tiến hành thanh toán</p>
      <button routerLink="/cart" class="btn">Quay lại giỏ hàng</button>
    </div>
  </div>
  </div>
  <div  *ngIf="user == null" style="text-align: center;height: 300px">
    <div style="margin-top:30px">
      <i class="fa fa-user" style="color: gray;font-size: 100px;margin-bottom: 20px"></i>
      <h1>Bạn chưa đăng nhập</h1>
      <button routerLink="/login" class="btn">Đăng nhập</button>
    </div>
  </div>
  